<!DOCTYPE html>
<html>
  <head>
    <title>Online Game</title>
    <!--- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> --->
    <script type="text/javascript" src="{{url_for('static',filename='js/lib/socket.io.js')}}"></script>
  
    <script src="{{url_for('static',filename='js/lib/pixi.min.js')}}"></script>


    <!-- Importing Game Modules -->
    <script type="module" src="{{url_for('static',filename='js/clientcontroller.js', ver=timestamp)}}"></script>
    <script type="module" src="{{url_for('static',filename='js/clientinput.js', ver=timestamp )}}"></script>
    <script type="module" src="{{url_for('static',filename='js/entity.js', ver=timestamp )}}"></script>
    <script type="module" src="{{url_for('static',filename='js/matchcontroller.js', ver=timestamp)}}"></script>
    <script type="module" src="{{url_for('static',filename='js/renderer.js', ver=timestamp)}}"></script>
    <script type="module" src="{{url_for('static',filename='js/serverconnection.js', ver=timestamp)}}"></script>

    <!-- Game Starts Running Here -->
    <script type="module" src="{{url_for('static',filename='js/app.js', ver=timestamp)}}"></script>
  </head>
  <body>
    <div id="display"></div>
  </body>
</html>
